.page-container{
    width:100%;
    display:flex;
    justify-content:center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-left{
    display: flex;
}

.head-city {
    height: 70%;
}

.head-text {
    display: inline;
    font-size: 3em;
}

.news-type {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.news-list-ref {
    text-decoration: none;
    color: darkgray;
}

.news-list-type {
    display: inline-block;
    width: 20%;
    line-height: 24px;
}

.top-dog{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
}

.content {
    position: absolute;
    background: rgba(41, 37, 37, 0.5);
    bottom: 0px;
    color: white;
    width: 100%;
}

.top-news {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width:10%;
    height:15%;
}

.news-more {
    float: right;
    text-decoration: none;
    color:black;
}

.top-news-list {
    list-style-type: none;
    padding-left: 0;
}

.top-news-list li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url("images/slidearrow.png");
}

.table-data {
    width: 100%;
    border-collapse: collapse;
}

.table-score {
    padding-right: 3.2%;
}

.score-right {
    text-align: right;
}

.score-left {
    text-align: left;
}

.table-data th, td {
    text-align: center;
}

.boxshadow {
    box-shadow: 0px 4px 4px -5px rgba(0, 0, 0, 0.5);
}

.today-weatherimage {
    height: 11%;
    max-height: 100px;
}

.current-day-weather {
    display: flex;
    align-items: center;
    justify-content: left;
}

.weather-location {
    font-size: 3em;
}

.days {
    display: flex;
    justify-content: space-between;
}

.days-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days img {
    max-width: 100%;
}

.breaking-updates-section {
    max-height: 112px;
    margin-bottom: 20px;
    overflow: hidden;
}

.breaking-updates {
    width: 15%;
    float: left;
    margin-right: 6px;
    margin-bottom: 4px;
    height: auto;
}

.breaking-updates-heading {
    font-weight: 550;
}

footer {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer-items {
    text-decoration: none;
    padding-left: 4%;
    color: black;
}

.main-page {
    width:100%;
}
.table-head {
    background-color: darkcyan;
}
.table-row {
    background-color: lightblue;
}

@media screen and (max-width: 425px) {
    .container {
        position: relative;
        width: 100%;
    height: auto;
        border-style: solid;
        border-width: thin;
        overflow: hidden;
    }
    .page-container{
        width:100%;
    }
    .news-type {
        display: none;
    }
    .content{
        height:40%;
    }
    .top-dog{
        height:110%;
    }
    .menu-img {
        width: 30px;
        height: 30px;
        padding-top: 10px;
    }
    .today-weatherimage {
        min-height: 80px;
    }
    
    .weather-location {
        font-size: 25px;
    }
}



@media screen and (min-width: 426px) and (max-width: 767px){
    
    .container {
        position: relative;
        width: 60%;
        height: auto;
        border-style: solid;
        border-width: thin;
        overflow: hidden;
    }
    .top-dog{
        height:100%;
    }
    .medium-layout {
        display: flex;
        flex-wrap: wrap;
    }
    .content{
        height:40%;
    }
    .weather {
        

        width: 35%;
        height: auto;
        order: 1;
        margin-left:10px;
    }
    .table-data{
        width:100%;
        order: 3;
    }
    
    .top-news {
        order: 2;
    }
}
